header{
    text-align: center;
    border-radius: 5px;
    background-color: seagreen;
}
h2{
    text-align: center;
}
.texto1{
    width: 75%;
    position: relative;
    left: 15%;
}
.texto2{
    width: 75%;
    position: relative;
    left: 15%;
}
.img1{
    position: relative;
    left: 30%;
}
.img2{
    position: relative;
    left: 30%;
    padding-bottom: 5px;
}
footer{
    text-align: center;
    border-radius: 5px;
    background-color: seagreen;
    padding-bottom: 1px;
    padding-top: 1px;
}