header{
    position: relative;
    right: 15%;
    padding-left: 500px;
    border-radius: 5px;
    background-color: seagreen;
}
h2{
    position: relative;
    left: 43%;
}
.texto1{
    width: 75%;
    position: relative;
    left: 15%;
}
.texto2{
    width: 75%;
    position: relative;
    left: 15%;
}
.img1{
    position: relative;
    left: 30%;
}
.img2{
    position: relative;
    left: 30%;
}